[Desktop Entry]
Name=SSH
Comment=Opens SSH session in existing tmux session
TryExec=urxvt
Exec=bash -c 'echo "URL=\"%U\"" > /tmp/s; urxvt -e /home/william/Scripts/auto-tmux.sh ssh'
Icon=terminator
Type=Application
Categories=GNOME;GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=gnome-terminal
X-Ayatana-Desktop-Shortcuts=NewWindow;
Keywords=terminal;shell;prompt;command;commandline;
[NewWindow Shortcut Group]
Name=Open a New Window
Exec=gnome-terminal
TargetEnvironment=Unity
